
@{
    ViewBag.Title = "Thank you";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-12">
            <article>
                <p>Thank you for contacting the FreeAds support team.  We will respond to your enquiry shortly.</p>
            </article>
        </div>
    </div>
</div>