@{
    ViewBag.Title = "Welcome to FreeAds";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <div class="row">
        <div class="col-md-12">
            <p>Thank you for using the FreeAds facility. We trust you'll have great success using it. Before you start, please read the 'Terms of use' below.</p>
            <p>Also note that your ad will be visible for one month only. After that, the system will automatically delete it. If you wish to run a further ad, you'll have to resubmit it.</p>
            <p>Remember that you have full control over uploading and deleting your ads. Should your contact details change remember to update your Small ads profile.</p>
            <p>To place your ad, click on the 'Submit ad' link and complete the relevant details. On submission, we'll automatically send you a confirmation email. This email will contain a link which you must click on in order to publish your ad on the system. If you do not click on the link provided your ad will not be published and after 2 days of receipt of the mail your ad will be deleted from the system.</p>
            <p>To delete your ads, click on 'My ads' and delete the ad.</p>
        </div>
    </div>
</div>